IoT/Node-RED/Vladyslav_Gavryliuk_245603_Lab12.json
[{"id":"632398a9.f6a4b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19e40299.60fded","type":"inject","z":"632398a9.f6a4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":80,"wires":[["f6d9877a.4b8be8"]]},{"id":"234861e0.8f59fe","type":"debug","z":"632398a9.f6a4b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":80,"wires":[]},{"id":"f6d9877a.4b8be8","type":"function","z":"632398a9.f6a4b8","name":"Random","func":"msg.celcius = Math.round(Math.random()*100);\nmsg.farenheit = msg.celcius*(9/5) + 32\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["234861e0.8f59fe","b798b79e.2d2cc8","f354536d.882c7"]]},{"id":"926a6d98.97f0d","type":"ui_chart","z":"632398a9.f6a4b8","name":"","group":"245dd7b0.025e78","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":380,"wires":[[]]},{"id":"b8018305.dc306","type":"ui_slider","z":"632398a9.f6a4b8","name":"","label":"Celcius Slider","tooltip":"","group":"245dd7b0.025e78","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":980,"y":60,"wires":[[]]},{"id":"ad96431.827f1c","type":"ui_text","z":"632398a9.f6a4b8","group":"245dd7b0.025e78","order":3,"width":0,"height":0,"name":"","label":"Farenheit","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":260,"wires":[]},{"id":"b798b79e.2d2cc8","type":"change","z":"632398a9.f6a4b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"celcius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["b8018305.dc306","9aaf083a.aa5048","926a6d98.97f0d","31a30a4e.688106"]]},{"id":"f354536d.882c7","type":"change","z":"632398a9.f6a4b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"farenheit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["ad96431.827f1c","926a6d98.97f0d","6fe7fd47.376a84"]]},{"id":"9aaf083a.aa5048","type":"ui_text","z":"632398a9.f6a4b8","group":"245dd7b0.025e78","order":1,"width":0,"height":0,"name":"","label":"Celcius","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":140,"wires":[]},{"id":"8dc11bed.c7fae8","type":"ui_toast","z":"632398a9.f6a4b8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1010,"y":520,"wires":[]},{"id":"31a30a4e.688106","type":"function","z":"632398a9.f6a4b8","name":"Final","func":"if (msg.payload > 70) {\n    msg.topic = \"Dangerous\";\n    return msg;\n} else {\n    msg.topic = \"Temperature is safe\";\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":520,"wires":[["8dc11bed.c7fae8"]]},{"id":"6fe7fd47.376a84","type":"join","z":"632398a9.f6a4b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"20","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":820,"y":440,"wires":[["84d4f2b5.4c579"]]},{"id":"905b0b00.f27218","type":"debug","z":"632398a9.f6a4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"average","targetType":"msg","x":1250,"y":380,"wires":[]},{"id":"84d4f2b5.4c579","type":"function","z":"632398a9.f6a4b8","name":"Average","func":"msg.average = Math.ceil(msg.payload.reduce(function(a, c) {\n    return a + c;    \n}) / msg.payload.length);\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":440,"wires":[["905b0b00.f27218","5c4fe93e.7c15a8"]]},{"id":"5055b497.c59cdc","type":"ui_text","z":"632398a9.f6a4b8","group":"16a60d8f.db4692","order":0,"width":0,"height":0,"name":"","label":"average","format":"{{msg.payload}}","layout":"row-spread","x":1480,"y":420,"wires":[]},{"id":"5c4fe93e.7c15a8","type":"change","z":"632398a9.f6a4b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"average","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":460,"wires":[["5055b497.c59cdc","5e3c577c.f7d3c8"]]},{"id":"5e3c577c.f7d3c8","type":"ui_gauge","z":"632398a9.f6a4b8","name":"","group":"245dd7b0.025e78","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":480,"wires":[]},{"id":"245dd7b0.025e78","type":"ui_group","z":"","name":"Task_group","tab":"25bd35c.9a172ca","order":2,"disp":true,"width":"6","collapse":false},{"id":"16a60d8f.db4692","type":"ui_group","z":"","name":"Show","tab":"25bd35c.9a172ca","order":3,"disp":true,"width":"6","collapse":false},{"id":"25bd35c.9a172ca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]