IoT/Node-RED/Vladyslav_Gavryliuk_13.json
[{"id":"8d3046e3.fadd08","type":"tab","label":"flow2","disabled":false,"info":""},{"id":"168455f0.c2c9ca","type":"ui_text","z":"8d3046e3.fadd08","group":"8d612a58.0913e8","order":1,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload.consolidated_weather[0].the_temp}}℃","layout":"row-center","x":490,"y":40,"wires":[]},{"id":"2e3db230.69c46e","type":"comment","z":"8d3046e3.fadd08","name":"Warszawa - 523920","info":"","x":130,"y":140,"wires":[]},{"id":"36a58e1d.024582","type":"http request","z":"8d3046e3.fadd08","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.metaweather.com/api/location/523920/","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["168455f0.c2c9ca","27c7a5e.9cb685a","4d24b882.00bf98","34d3f19f.e8036e"]]},{"id":"cdf869aa.f2bb48","type":"inject","z":"8d3046e3.fadd08","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["36a58e1d.024582"]]},{"id":"34d3f19f.e8036e","type":"ui_text","z":"8d3046e3.fadd08","group":"15e01a2c.4d0d06","order":1,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload.consolidated_weather[1].the_temp}}℃","layout":"row-center","x":490,"y":280,"wires":[]},{"id":"27c7a5e.9cb685a","type":"ui_template","z":"8d3046e3.fadd08","group":"8d612a58.0913e8","name":"Weather image","order":3,"width":0,"height":0,"format":"<div height=\"80\" style=\"height: 80px; margin: 0 auto;\">\n    <img width=\"50\" src=\"https://www.metaweather.com/static/img/weather/{{msg.payload.consolidated_weather[0].weather_state_abbr}}.svg\" alt=\"Weather\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":120,"wires":[[]]},{"id":"4d24b882.00bf98","type":"ui_template","z":"8d3046e3.fadd08","group":"15e01a2c.4d0d06","name":"Weather image","order":3,"width":0,"height":0,"format":"<div height=\"80\" style=\"height: 80px; margin: 0 auto;\">\n    <img width=\"50\" src=\"https://www.metaweather.com/static/img/weather/{{msg.payload.consolidated_weather[0].weather_state_abbr}}.svg\" alt=\"Weather\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":240,"wires":[[]]},{"id":"3a7c213.2f89dde","type":"debug","z":"8d3046e3.fadd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":340,"wires":[]},{"id":"c4ef2c23.3645b","type":"mqtt in","z":"8d3046e3.fadd08","name":"","topic":"cpuload","qos":"0","datatype":"auto","broker":"f5ecbdd8.c63f4","x":90,"y":340,"wires":[["3a7c213.2f89dde","d328dc0d.a3049"]]},{"id":"323943eb.b1634c","type":"exec","z":"8d3046e3.fadd08","command":"wmic cpu get loadpercentage ","addpay":false,"append":"","useSpawn":"false","timer":"0","oldrc":false,"name":"","x":340,"y":460,"wires":[["44184150.c92c3"],[],[]]},{"id":"70af030d.81803c","type":"debug","z":"8d3046e3.fadd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":500,"wires":[]},{"id":"7d95747e.88961c","type":"inject","z":"8d3046e3.fadd08","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["323943eb.b1634c"]]},{"id":"918be139.d195b","type":"mqtt out","z":"8d3046e3.fadd08","name":"","topic":"cpuload","qos":"","retain":"true","broker":"f5ecbdd8.c63f4","x":720,"y":440,"wires":[]},{"id":"44184150.c92c3","type":"function","z":"8d3046e3.fadd08","name":"parseInt","func":"msg.payload = parseInt(msg.payload.replace(/[^\\d]+/, ''));\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["918be139.d195b","70af030d.81803c"]]},{"id":"d328dc0d.a3049","type":"ui_gauge","z":"8d3046e3.fadd08","name":"Percentage cpu load","group":"ce1d786f.77eb78","order":1,"width":"6","height":"4","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":380,"wires":[]},{"id":"8d612a58.0913e8","type":"ui_group","z":"8d3046e3.fadd08","name":"Today","tab":"2f75fa29.d8cea6","order":1,"disp":true,"width":8,"collapse":false},{"id":"15e01a2c.4d0d06","type":"ui_group","z":"8d3046e3.fadd08","name":"Tomorrow","tab":"2f75fa29.d8cea6","order":2,"disp":true,"width":8,"collapse":false},{"id":"f5ecbdd8.c63f4","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce1d786f.77eb78","type":"ui_group","z":"8d3046e3.fadd08","name":"CPU Load","tab":"2f75fa29.d8cea6","order":3,"disp":true,"width":"6","collapse":false},{"id":"2f75fa29.d8cea6","type":"ui_tab","z":"","name":"Lab_13","icon":"dashboard","order":2,"disabled":false,"hidden":false}]